<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>방명록 목록(Controller Test)</title>
</head>

<body>
    <h1>방명록(Controller Test)</h1>
    <!-- 쿠키를 이용해서 사용자가 처음 방문했는지 아닌지 판단. -->
    <h2 th:switch="${firstVisit}">
        <th:block th:case="${true}">처음 방문하셨군요. 환영합니다!</th:block>
        <th:block th:case="${false}">또 오셨군요. 환영합니다!</th:block>
    </h2>



    <br> 방명록 전체 수: <th:block th:text="${count}"></th:block><br><br>

    <div th:each="guestbook : ${list}">
        <th:block th:text="${guestbook.id }"></th:block><br>
        <th:block th:text="${guestbook.name }"></th:block><br>
        <th:block th:text="${guestbook.content }"></th:block><br>
        <th:block th:text="${guestbook.regdate }"></th:block><br>
        <th:block th:if="${session.isAdmin}">
            <a th:href="@{/delete(id=${guestbook.id})}">삭제</a>
        </th:block>
    </div>
    <table>
        <tr>
            <td th:each="pageStart : ${pageStartList}">
                <a th:href="@{/list(start=${pageStart})}">
                    <th:block th:text="|페이지 ${pageStartStat.index + 1}|"></th:block>
                </a>&nbsp; &nbsp;
            </td>
        </tr>
    </table>

    <br>
    <form method="post" action="write">
        이름 : <input type="text" name="name" placeholder="이름 입력" required><br>
        <textarea name="content" cols="60" rows="6" placeholder="내용 입력" required></textarea>
        <br> <input type="submit" value="등록">
    </form><br>
    <a type="button" href="/list2">RestController 테스트 화면으로 이동</a><br>

    <a th:if="${session.isAdmin}" href="/logout">로그아웃</a><br>
    <a th:unless="${session.isAdmin}" href="/loginform">로그인</a><br>

</body>

</html>