<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>방명록 목록(RestController Test)</title>
</head>

<body>
    <h1>방명록(RestController Test)</h1>

    <h3 class="loading">Loading...</h3>
    <div class="container">
        <br> 방명록 전체 수: <span class="count"></span><br><br>
        <ul class="list">
        </ul>
        <table>
            <tr class="pages"></tr>
        </table>
    </div>
    <br>
    <form onsubmit="return false;">
        이름 : <input type="text" name="name" placeholder="이름 입력"><br>
        <textarea name="content" cols="60" rows="6" placeholder="내용 입력"></textarea>
        <br> <input type="submit" value="등록" onclick="addGuestbook(this);">
    </form><br>
    <a type="button" href="/list">Controller 테스트 화면으로 이동</a>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            getGuestbooks();
        });

        showLoadingText = (show) => {
            let loadingElement = document.querySelector(".loading");
            let containerElement = document.querySelector(".container");
            setVisibility(loadingElement, show);
            setVisibility(containerElement, !show);
        }

        getGuestbooks = (start = 0) => {

            showLoadingText(true);

            fetchData(`/guestbooks?start=${start}`, null, "GET", json => {
                document.querySelector(".count").innerText = json.count
                let listHtml = json.list.reduce((accumulator, guestbook) => {
                    accumulator +=
                        `<li>
                        <div>
                            아이디: ${guestbook.id}<br>
                            작성자: ${guestbook.name}<br>
                            내용: ${guestbook.content}<br>
                            작성일: ${guestbook.regdate}
                        </div>
                        <input 
                            type="button" 
                            onclick="deleteGuestbook(${guestbook.id})" 
                            value="삭제">
                    </li>`;
                    return accumulator;
                }, "");
                document.querySelector(".list").innerHTML = listHtml;

                let pagesHtml = json.pageStartList.reduce((accumulator, pageStart, currentIndex) => {
                    accumulator +=
                        `<td><a href="javascript:void(0);" 
                        onclick="
                            getGuestbooks(${pageStart});
                    ">페이지 ${currentIndex + 1}</a></td>`
                    return accumulator;
                }, "")

                document.querySelector(".pages").innerHTML = pagesHtml;
                showLoadingText(false);
            });
        };
        deleteGuestbook = (guest_id) => {
            showLoadingText(true);
            fetchData(`/guestbooks/${guest_id}`, null, "DELETE", json => {
                if (json.success) {
                    getGuestbooks();
                }
                else {
                    alert('삭제 실패!');
                    showLoadingText(false);
                }
            })

        }

        addGuestbook = (submitTag) => {
            let submitForm = submitTag.form;
            let name = submitForm.name.value;
            let content = submitForm.content.value;
            if(!name || !content) {
                alert('이름 또는 내용을 입력해주세요!');
                return;
            }
            fetchData(
                "/guestbooks", 
                {name, content}, 
                "POST",
                json=>{
                    if(json && json.id && json.name){
                        getGuestbooks();
                    }else{
                        alert("방명록 작성 실패!")
                    }
                }
            )
            submitForm.reset();
            return false;
        }



        fetchData = (url, data, method, callback) => {
            let requestInfo = {
                method,
                headers: {
                    'Content-Type': 'application/json'
                }
            };
            if (data) {
                requestInfo.body = JSON.stringify(data);
            }
            fetch(url, requestInfo)
                .then(res => res.json())
                .then(json => {
                    callback(json)
                });
        }

        setVisibility = (element, visible) => {
            element.style.display = visible ? "block" : "none";
        }


    </script>
</body>

</html>